<h1> All Astronauts </h1>
<% @astronauts.each do |astronaut|  %>
  <div id="astronaut-<%= astronaut.id %>">
    <h3> <%= astronaut.name %> </h3>
    <p> <%= astronaut.age %> </p>
    <p> <%= astronaut.job %> </p>
    <p> Astronaut Missions: </p>
    <% astronaut.alphabetize_missions.each do |mission| %>
      <%= mission.title %> <br>
    <% end %>
    <p> Total Time in Space: <%= astronaut.total_time_in_space %> days </p>
    <hr>
<% end %>

<p> Average Age: <%= @astronauts.average_age.to_i %> </p>
